body{
  background-image: url("images/flag.jpg");
  display:grid;
  grid-template: auto auto auto / 1fr 1fr 1fr;
}

.banner{
  grid-area:1/1/3/2;
}

#pagecontainer{
  grid-area:1/2/2/3;
  background-color:#555;
}
